<div class = "logo-container">
    <h1>MindSpace</h1>
</div>

<div class="create-account-container">

    <button class="create-account-button" routerLink="/create-account">Create Account</button>
    <br>

    <div id="create-account-form">
        <label>User name:</label>
        <input type="text" id="user-input" required>
        <br>
    
        <label>Email:</label>
        <input type="text" id="email-input" required>
        <br>
   
        <label>Password:</label>
        <input type="text" id="password-input" required>
        <br>
    </div>
    <br>

    <button class="continue-create-account">Continue</button>

</div>

<div class="log-in-container">
    <button class="log-in-button" routerLink="/log-in">log In</button>
</div>